body {
    font-family: sans-serif;
}
H1, h2, h3, h4, h5, h6 {
    color: hotpink
}

.box {
        display: flex;
        flex-wrap: wrap;
    }

P{
    margin-top: 50px;
     border-top:1px dashed green;
    border:1px solid green;
padding:5px;
/*arrondir les coins en haut à gauche et en bas à droite*/
-moz-border-radius:10px 0;
-webkit-border-radius:10px 0;
border-radius:10px 0;

}